/* 언어 설정 */
@charset 'UTF-8';

/* reset */
* {margin: 0;
    padding: 0;}

ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}

img {border: none;}


/*  컨테이너박스설정 (부모속성) */

#wrap {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;}

/* 아이템박스설정(자손자 속성) */

.header {background-color: orange;
            height: 100px;
            width: 70%;}
.logo {background-color:  tomato;
            height: 100px;
            width: 20%;
            order: -1;}

#sns { background-color: #fe6efa;
            height: 100px;
            width: 10%;}

.slide {background-color:   yellowgreen;
            height: 300px;
            width: 100%;}
.popular {background-color: #d76817;
            height: 150px;
            width: 60%;}
.rankUp {background-color: #00d2a5;
            height: 150px;
            width: 40%;}
.gallery {background-color: #f8de73;
            height: 300px;
            width: 100%;}            
.latest {background-color: #9cabe4;
            height: 100px;
            width: 100%;}
.banner {background-color: #0175bb;
            height: 50px;
            width: 100%;}
.sns {background-color: #fe6efa;
            height: 200px;
            width: 10%;
            order: 1;}
.footer {background-color: #474747;
            height: 200px;
            width: 90%;}




@media(max-width:500px) {


    #wrap {
        width: 100%;
        margin: 0 auto;}

.header {background-color: orange;
        height: 100px;
        width: 70%;}
.logo {background-color:  tomato;
        height: 100px;
        width: 20%;
        order: -1;}

#sns { background-color: #fe6efa;
        height: 100px;
        width: 10%;}

.slide {background-color:   yellowgreen;
        height: 300px;
        width: 100%;}
.popular {background-color: #d76817;
        height: 150px;
        width: 100%;}
.rankUp {background-color: #00d2a5;
        height: 150px;
        width: 100%;}
.gallery {background-color: #f8de73;
        height: 300px;
        width: 100%;}            
.latest {background-color: #9cabe4;
        height: 100px;
        width: 100%;}
.banner {background-color: #0175bb;
        height: 50px;
        width: 100%;}
.sns {background-color: #fe6efa;
        height: 200px;
        width: 10%;
        order: 1;}
.footer {background-color: #474747;
        height: 200px;
        width: 90%;}









}


@media(min-width:501px) and (max-width:799px) {


    #wrap {
        width: 100%;
        margin: 0 auto;}

.header {background-color: #aaa;
        height: 100px;
        width: 70%;}
.logo {background-color:  #bbb;
        height: 100px;
        width: 20%;
        order: -1;}

#sns { background-color: #ccc;
        height: 100px;
        width: 10%;}

.slide {background-color:   #ddd;
        height: 300px;
        width: 100%;}
.popular {background-color: #999;
        height: 150px;
        width: 100%;}
.rankUp {background-color: #888;
        height: 150px;
        width: 100%;}
.gallery {background-color: #777;
        height: 300px;
        width: 100%;}            
.latest {background-color: #666;
        height: 100px;
        width: 100%;}
.banner {background-color: #555;
        height: 50px;
        width: 100%;}
.sns {background-color: #444;
        height: 200px;
        width: 10%;
        order: 1;}
.footer {background-color: #333;
        height: 200px;
        width: 90%;}









}