/* 언어설정 */

@charset 'UTF-8';

/* reset */


* {margin: 0;
    padding: 0;}

ol,ul {list-style: none;}

a {text-decoration: none;
    color: #000;}

img {border: none;
    vertical-align: bottom;}



/* 박스1 설정 */

.box1 {display: flex;
        justify-content: space-between;
        background-color: lightpink;
        align-items: flex-end;}
.box1-1 {width: 120px;
        height: 80px;
        display: flex;
        justify-content: center;
    align-items: center;}

.box1-2 {}
.box1-2 ul {display: flex;
        }
.box1-2 li {}
.box1-2 a {display: block;
            padding: 10px 20px;}
.box1>div {}


.box1-2 a:hover {background-color: palevioletred;}


/* 박스2 설정 */
.box2 {text-align: center;
        font-size: 120px;
        height: 60vh;
        background-color: ivory;}


/* 박스3 설정 */

.box3 {background-color: lightgoldenrodyellow;}
.box3_inner {text-align: center;}
.box3_inner p {text-align: center;
                    padding: 40px 20px;}

/* 박스4 설정 */

.box4 {height: 350px;}
.box4_inner {display: flex;
            width: 100%;
                height: 100%;}
.box4_inner>article {width: 50%;
        height: 100%;}

.box4-1 {position: relative;}
.box4-1 p {width: 300px;
        height: 300px;
        background-color: plum;
        position: absolute;
        right: 50px;
        bottom: 25px;}

/* 박스5 설정 */

.box5 {}
.box5_inner {display: flex;
    justify-content: space-between;}
.box5_inner>article {width: 30%;
            background-color: antiquewhite;
                }
.box5_inner p {width: 200px;
                    height: 200px;
                    margin: 0 auto;
                background-color: violet;
                text-align: center;}

/* 박스6 설정 */


.box6 {text-align: center;
        background-color: yellowgreen;}
.box6 p {text-align: center;
                    padding: 20px;
                    padding: 20px 40px;}


/* 박스7 설정 */


.box7 {text-align: center;
        background-color: coral;}
.box7 p {text-align: center;
                    padding: 20px;
                    padding: 20px 40px;}


/* 박스8 설정 */

.box8 {}
.box8_inner {display: flex;
            justify-content: space-between;}
.box8_inner>div {width: 20%;
                padding: 20px 0;}




/* 미디어쿼리구간#################################################### */

/* 1290px 이상일때 구간 설정 */

@media(min-width:1290px) {

    /* body 고정값 1280px로 고정 */
    .box3_inner , .box4_inner , .box5_inner , .box8_inner {

        width: 1280px;
        margin: 0 auto;


    }

}