/* 언어설정 */

@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');
/* reset */

* {margin: 0;
    padding: 0;}

a {text-decoration: none;
    color: #000;}

img {vertical-align: bottom;
    border: none;}

ul,ol {list-style: none;}

body 


/* 박스1 설정 */

.box1 {width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;}

.box1 .logo {font-size: 30px;
            padding: 20px;}
.box1 h1 img {width: 100px;
                height: 130px;}
.box1 .gnb {}
.box1 .gnb ul {display: flex;
                justify-content: center;
           padding-top: 40px;
            padding-bottom: 20px;
            
           }
.box1 .gnb li {padding-right: 20px;}
.box1 .gnb a {display: block;
            font-size: 20px;
            font-family: 'Hahmlet', serif;}

.box1 .util ul {display: flex;
                padding: 20px 0;}
.util a {display: block;
        padding-right: 20px;}

.util i {font-size: 20px;}


/* 박스2 설정 */

.box2 {width: 90%;
    margin-left: auto;
        height: 600px;
        background-color: ;
        }

.box2 .hero {display: flex;
                height: 70%;
                }
.box2 strong {color: #F8A1BE;}

.box2 .hero .txtBox {width: 40%;
                    height: 100%;
                    background-color: #fff;
                    }
.box2 .txtBox p:nth-child(1) {font-size: 35px;
                                text-align: left;
                                margin-left: 25%;
                                margin-top: 50px;
                               }
.box2 .txtBox p:nth-child(2) {font-size: 15px;
                            text-align: left;
                            margin-left: 25%;
                            color: #F8A1BE;}
    
.box2 .hero .imgBox {background-color: pink;
                        width: 60%;
                            height: 100%;
                        background-image: url(img/yslrose.jpg);
                        background-size: cover;
                        background-position: center center;}




.box2 .localMenu {display: flex;
                    height: 30%;
                justify-content: space-around;
                align-items: center;
                
                
                }
.box2 .localMenu>div {width: 100%;
                        height: 100%;}
.box2 .localMenu a {display: block;
    text-align: center;
    margin-top: 60px;}

.localMenu p {font-weight: 600;
                font-size: 30px;
                padding-bottom: 5px;
                color: #fff;}
.localMenu span {display: inline-block;
                font-size: 15px;
                color: #fff;}

.localMenu>div:nth-child(1) p {color: #000;
                            } 
.localMenu>div:nth-child(1) span {color: #000;
                            }                            
                            
.localMenu div:nth-child(2) {background-color: #F8A1BE;
                            }

.localMenu>div:nth-child(3) p {color: #000;
                            } 
.localMenu>div:nth-child(3) span {color: #000;
                            } 



.localMenu div:nth-child(4) {background-color: #F8A1BE;
                            }


/* 박스3 설정 */


.box3 {width: 80%;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
height: 450px;

}

.box3-1 {text-align: center;
        
        height: 100px;
        
       }
.box3-1 h1 {font-size: 40px;
    font-family: 'Domine', serif;
    color: #000;
    }
.box3-1 p {color: #000;}


.box3-2 {display: flex;
        height: 70%;
        
        }
.box3-2>div {width: 50%;}

.box3-2 .imgBox {background-image: url(img/rose.jpg);
                    width:40%;
                        height: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: ;
                }

.box3-2 .listBox {width: 50%;
            padding-left: 20px;}
.box3-2 .listBox ul {display: flex;
                    padding-top: 50px;
                    
                    width: 100%;}

.box3-2 .listBox ul li {margin-left: 200px;
                        padding-bottom: 20px;
                            text-align: center;
                            width: 100%;}          

.box3-2 .listBox img { 
                    padding-bottom:  30px;
                        width: 100px;
                        height: 100px;
                        margin: ;
                        }


.box3-2 .listBox a {display: block;
                    margin-right: 10px;
                    width: 100%;}
.box3-2 .listBox strong {display: block;
                        text-align: center;}
.box3-2 .listBox p {text-align: center;
                    padding-right: 20px;
                    width: 100%;}

/* 박스4 설정 */

.box4 {width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    background-color: #000;}

.box4 h2 {text-align: center;
            font-size: 30px;
             margin: 20px 0;
             font-family: 'Domine', serif;}

.box4-1 {display: flex;}
.box4-1>div {width: 50%;}

.box4-1 .listBox ul>li {display: flex;}
.box4-1 .listBox ul {margin-left: 150px;}
.box4-1 .listBox .imgBox {margin-right: 10px;
                            margin-bottom: 5px;
                           }
video {width: 100%;
        height: 100%;
            padding-bottom: 30px;
            padding-right: 20px;}
source {margin-right: 20px;}

.box4-1 .listBox h3 {margin-bottom: 10px;
    margin-top: 20px;
    color: #fff;}
    .box4-1 .listBox p {color: #fff;}

.box4-1 .listBox img {width: 100px;
                    height: 120px;
                    margin-top: 10px;}


/* 박스5 설정 */

.box5 {width: 80%;
    margin: 0  auto;
display: flex;
    height: 400px;
    padding: 30px 0;
    }

.box5-1 {width: 40%;}
.box5-2  {width: 60%;}

.box5-1 .title {font-weight: bold;
                font-size: 30px;
                margin: 30px 0 40px 50px;
                text-align: center;
                font-family: 'Domine', serif;}

.box5-1 .listBox ul {}
.box5-1 .listBox li {margin-bottom: 20px;
                    align-items: center;
                    display: flex;
                    
                    margin-left: 100px;}

.box5-1 .listBox li i {margin-right: 30px;
                        
                        font-size: 30px;}
.box5-1 .listBox li p {text-align: left;
                            }
                            


.box5-1 .btnBox {display: flex;
                justify-content: center;
                    align-items: center;
                    margin-top: 30px;}

.box5-1 .btnBox p {margin-left: 30px;
                    border: #000 solid 2px;
                    border-radius: 10px;
                    padding: 5px 30px;}
.box5-1 .btnBox p:nth-child(1) {border: 2px palevioletred solid;
                                color: #fff;
                                background-color: palevioletred;
                                font-weight: 500;}
.box5-1 .btnBox p:hover {background-color: palevioletred;
                            color: #fff;
                            font-weight: 500;
                            border: 2px palevioletred solid;
                            cursor: pointer;}

.box5-2 {}
.box5-2 img {width: 80%;
                height: 100%;
                margin-left: 20%;}

/* 박스6 설정 */

.box6 {display: flex;
        justify-content: space-around;
        height: 300px;
        
        align-items: center;}

.box6-1 {text-align: center;
            margin-left: 100px;}

.box6-1 img {width: 200px;
                margin-bottom: 30px;}
.box6-1 p { font-weight: 500;
            font-size: 25px;}
.box6-2 img {height: 280px;
            width: 100%;}
.box6-3 img {width: 300px;
    margin-bottom: 20px;
              height: 100px; }

.box6-3 {text-align: center;
    margin-right: 100px;}
.box6-3 p { font-weight: 500;
    font-size: 25px;}



/* 박스7 설정 */



.box7-1 {position: relative;
        height: 700px;
        background-color: #000;}

.box7-1 {text-align: center;
        height: 100%;}
.box7-1 .left {position: absolute;
            font-size: 40px;
            left: 30px;
            top: 150px;
            }
.box7-1 .right {position: absolute;
    font-size: 40px;
    right: 30px;
    top: 150px;}


.box7-2 {
        height: 300px;
        width: 80%;
        margin: 0 auto;}
.box7-2 .trailer { height: 100%;}
.box7-2 .trailer ul {display: flex;
                    justify-content: space-around;
                    align-items: center;
                    height: 100%;}
.box7-2 .trailer li {
                        width: 15%;
                        height: 80%;}
.box7-2 .trailer img {width: 80%;
                        height: 250px;}


/* 박스8 설정 */

.box8 {width: 80%;
        margin: 0 auto;
        display: flex;
        height: 400px;
        }

.box8>div {width: 50%;}

.box8-1 {}
.box8-1 img {width: 100%;
            height: 100%;}

.box8-2 {height: 100%;}
.box8-2 .txtBox {
                margin-top: 80px;
                margin-left: 50px;}
.box8-2 .txtBox p:nth-child(1) {font-size: 20px;
                                margin-bottom: 10px;}
.box8-2 .txtBox p:nth-child(2) {font-size: 35px;
                                font-weight: 600;
                                margin-bottom: 10px;}
.box8-2 .txtBox p:nth-child(3) {font-size: 20px;
                                margin-top: 20px;}

.box8-2 .txtBox span {  margin: 20px 0;
                        display: inline-block;}

/* 박스9 설정 */

.box9 {display: flex;
        margin: 0 auto;
        width: 80%;
        height: 400px;}
.box9>div {width: 50%;}

.box9-1 {padding: 20px;}
.box9-1 h2 {font-size: 40px;
            padding: 20px;}
.box9-1 .txtTop {font-size: 20px;
                        margin-bottom: 40px;
                        padding: 20px;}
.box9-1 .txtBot {font-size: 20px;
                margin-bottom: 20px;
                padding: 20px;}
.box9-1 i {padding-left: 20px;
            font-size: 35px;}


.box9-2 {background-color: #eee;}

.box9-2 form {
                width: 100%;
                }
.box9-2 div {margin-top: 100px;}

.box9-2 input[type="text"] { display: block;
                font-size: 20px;
                padding: 5px;
                border-radius: 15px;
                margin: auto;
                margin-bottom: 10px;
                }



.box9-2 .check { text-align: center;
                display: block;}

.box9-2 .btn {text-align: center;
                margin-top: 20px;}
.box9-2 .btn a {border: 1px solid #000;
                display: inline-block;
                padding: 5px 80px;
                border-radius: 15px;}

.box9-2 .btn:hover a { background-color: #F8A1BE;
                    border: 1px #F8A1BE solid;
                    color: #fff;
                    font-weight: 500;}


/* 박스10 설정 */



.box10 {display: flex;
        height: 300px;
        background-color: #000;
        color: #fff;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;}

.box10-1 {font-size: 30px;
            padding: 20px;}

.box10-2 {}

.box10-2 ul {display: flex;}
.box10-2 li {padding-right: 10px;}
.box10-2 a {display: block;
            color: #fff;
            padding: 10px;}