<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃003</title>

    <!-- 외부스타일시트 -->
    <link rel="stylesheet" href="layout003.css">
    <!-- 그리드가이드 
    <link rel="stylesheet" href="grid-guide.css">-->
    <!-- 제이쿼리cdn -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 폰트어썸cdn -->
    <script src="https://kit.fontawesome.com/044d9b951e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="box1">
        <div class="logo">
            <h1> 
                <img src="img/autograph.svg" alt="">
            </h1>
        </div>
        <div class="gnb">
            <ul>
                <li><a href="#">남성쇼핑</a></li>
                <li><a href="#">여성쇼핑</a></li>
                <li><a href="#">New F/W</a></li>
                <li><a href="#">23 S/S</a></li>
                <li><a href="#">Bag</a></li>
                <li><a href="#">yves-saint-laurent</a></li>
                <li><a href="#">Le maison</a></li>
                <li><a href="#">매장정보</a></li>
            </ul>
        </div>
        <div class="util">
            <ul>
                <li> <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a> </li>
                <li> <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> </li>
                <li> <a href="#"><i class="fa-regular fa-user"></i></a> </li>
            </ul>
        </div>
    </div>
    <div class="box2">
        <div class="hero"> 
            <div class="txtBox">
                <p> <strong>독특하고 관능적인 음색</strong> <br>YSL의 얼굴 <br> <b>ROSÉ</b></p>
                <p> Roseanne Park</p>
            </div>
            <div class="imgBox">
                
            </div>
        </div>
        <div class="localMenu">
            <div>
                <a href="#">
                    <div class="menu1">
                        <p>PROFILE</p>
                        <span>more</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="menu2">
                        <p>ALBUM</p>
                        <span>more</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="menu3">
                        <p>FOSTER</p>
                        <span>more</span>
                    </div>
                </a>
            </div>
            <div>
                <a href="#">
                    <div class="menu4">
                        <p>FILMS</p>
                        <span>more</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="box3">
        <article class="box3-1">
            <h1>PROFILE</h1>
            <p>YG엔터테인먼트 소속 4인조 걸그룹 BLACKPINK의 메인보컬이자 리드댄서.</p>
        </article>
        <div class="box3-2">
            <div class="imgBox"></div>
            <div class="listBox">
                <ul>
                    <li><a href="#">
                        <img src="img/blackpink.png" alt="" class="black">
                        <strong>BLACK PINK</strong>
                        <p>세계적인 K-POP 그룹 소속이며, <br> 매력적인 보이스를 가진 메인보컬</p>
                    </a>
                </li>
                    <li><a href="#">
                        <img src="img/ysllogo.png" alt="" class="ysl">
                        <strong>YSL</strong>
                        <p>프랑스 패션브랜드 <strong>"생로랑"</strong> 앰버서더</p>
                    </a>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box4">
        <h2>ALBUM</h2>
        <div class="box4-1">
            <div class="listBox">
                <ul>
                    <li>
                        <div class="imgBox">
                            <img src="img/다운로드.jpg" alt="">
                        </div>
                        <div class="textBox">
                            <h3>-R-</h3>
                            <p>로제의 솔로 데뷔 첫 싱글 앨범 -R- 은, 로제의 이름 첫 글자를 따 <br> '솔로 아티스트로서 새로운 시작'을 의미한다.</p>
                        </div>
                    </li>
                    <li><div class="imgBox">
                        <img src="img/캡처.JPG" alt="">
                    </div>
                    <div class="textBox">
                        <h3>How You Like That</h3>
                        <p>2020년 6월 26일에 발매된 걸그룹 BLACKPINK의 정규 1집  <br> THE ALBUM의 첫 번째 선공개 곡.</p>
                    </div></li>
                    <li><div class="imgBox">
                        <img src="img/다운로드 (2).jpg" alt="">
                    </div>
                    <div class="textBox">
                        <h3>SQUARE ONE</h3>
                        <p>2018년 6월 15일에 발매된 걸그룹 BLACKPINK의 첫 미니앨범.</p>
                    </div></li>
                    <li><div class="imgBox">
                        <img src="img/다운로드 (3).jpg" alt="">
                    </div>
                    <div class="textBox">
                        <h3>THE ALBUM</h3>
                        <p>2020년 10월 2일에 발매된 걸그룹 BLACKPINK의 첫 정규 앨범.</p>
                    </div></li>
                </ul>
            </div>
            <div class="imgBox">
                <video autoplay muted loop>
                    <source src="img/roseysl.mp4">
                </video>
                </ul>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-1">
            <div class="title">  FOSTER  </div>  
            <div class="listBox">
                <ul>
                    <li>
                        <i class="fa-solid fa-bag-shopping"></i>
                        <p>그녀는 미래의 생 로랑 걸입니다. 그녀의 사는 방식, 그녀가 자신의 패션을 주도하는 방식, 
                            그리고 대중으로부터 자유로워지는 방식에서 그래요. 현대 사회를 대표하는 존재죠.  
                            </p>
                    </li>
                    <li>
                        <i class="fa-solid fa-gem"></i>
                        <p>로제는 음악을 좋아하고 잘하며 열심히 하려고 한다는 이야기를 예전부터 들었다. 
                            '비긴어게인'을 할 때부터 로제와 함께 하고 싶었다. <br>
                            로제가 참 어쿠스틱한 매력이 있다고 생각한다.   
                            </p>
                    </li>
                </ul>
            </div>
            <div class="btnBox">
                <p>PAGE1</p>
                <p>PAGE2</p>
            </div>
        </div>
        <div class="box5-2">
           <img src="img/foster.png" alt="">
        </div>
    </div>

    <div class="box6">
        <div class="box6-1">
            <img src="img/MAMA.svg" alt="">
            <p>베스트 댄스 퍼포먼스 솔로</p>
        </div>
        <div class="box6-2">
            <img src="img/middlerose.jpg" alt="">
        </div>
        <div class="box6-3">
            <img src="img/hanteo.png" alt="">
            <p>아티스트상 여성솔로 TOP3</p>
        </div>
    </div>



    <div class="box7">
        <div class="box7-1">
            <div class="container">
                <img src="img/tr3.jpg" alt="">
            </div>
            <p class="left"><i class="fa-solid fa-square-caret-left" style="color: #fff;"></i></p>
            <p class="right"><i class="fa-solid fa-square-caret-right" style="color: #fff;"></i></p>
        </div>
        <div class="box7-2">
            <div class="trailer">
                <ul>
                    <li><img src="img/tr1.jpg" alt=""></li>
                    <li><img src="img/tr2.jpg" alt=""></li>
                    <li><img src="img/tr3.jpg" alt=""></li>
                    <li><img src="img/tr4.jpg" alt=""></li>
                    <li><img src="img/tr5.jpg" alt=""></li>
                    <li><img src="img/tr6.jpg" alt=""></li>
                    <li><img src="img/tr7.jpg" alt=""></li>
                    <li><img src="img/tr8.jpg" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="box8">
        <div class="box8-1">
            <img src="img/블랙핑크_로제2.gif" alt="">
        </div>
        <div class="box8-2">
            <div class="txtBox">
                <p> 음원기록 </p>
                <p> Any obstacle is breakable.</p>
                <p>총 조회수 4160만뷰 <br> 
                    <span>Song Top 100 차트에서 On The Ground 1위</span> <br> 
                    미국 빌보드 핫100 KPOP 여자 솔로 아티스트 최고 순위.</p>
            </div>
        </div>
    </div>
    <div class="box9">
        <div class="box9-1">
            <h2>title</h2>
            <p class="txtTop">amet consectetur adipisicing elit amet consectetur adipisicing elit <br> 
                amet consectetur adipisicing elit amet consectetur adipisicing elit</p>
            <p class="txtBot">Lorem ipsum dolor sit.</p>
            <p><i class="fa-solid fa-shield-dog"></i><i class="fa-solid fa-shield-dog"></i><i class="fa-solid fa-shield-dog"></i></p>
        </div>
        <div class="box9-2">
            <form>
                <div>
                    <input type="text" value="text" size="15">
                    <input type="text" value="text" size="15">
                </div>
                <p class="check"><input type="checkbox" value="항목"> 체크해주세요</p>
            </form>
            <p class="btn"> <a href="#">버튼</a> </p>
        </div>
    </div>
    <div class="box10">
        <div class="box10-1">bottom logo</div>
        <div class="box10-2">
            <ul>
                <li><a href="#">sitemap1</a></li>
                <li><a href="#">sitemap2</a></li>
                <li><a href="#">sitemap3</a></li>
                <li><a href="#">sitemap4</a></li>
                <li><a href="#">sitemap5</a></li>
                <li><a href="#">sitemap6</a></li>
                <li><a href="#">sitemap7</a></li>
                <li><a href="#">sitemap8</a></li>
            </ul>
        </div>
    </div>
</body>
</html>