<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃004</title>

    <!-- 외부스타일시트 -->
    <link rel="stylesheet" href="layout004.css">
    <!-- 그리드가이드 
    <link rel="stylesheet" href="grid-guide.css">-->
    <!-- 제이쿼리 CDN -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- 폰트어썸 CDN -->
    <script src="https://kit.fontawesome.com/044d9b951e.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <!-- <p class="img">
         <img src="https://picsum.photos/id/78/1000/1000" alt="" >
    </p>

    <style>
        .img {width: 1000px;
                height: 1000px;
                background-color: pink;
                border-radius: 30% 40% 30% 40% / 70% 30% 60% 40% ;
            overflow: hidden;} 

    </style> -->
    
    <header class="box1">
        <div class="logo">
            <img src="img/logocj.png" alt="">
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">전시안내</a> </li>
                <li><a href="#">About Vincent</a> </li>
                <li><a href="#">오시는 길</a> </li>
                <li><a href="#">자주묻는 질문</a> </li>
            </ul>
        </div>
        <div class="util">
            <p>  <a href="#">바로가기 </a> </p>
        </div>
    </header>

    <main id="wrap">
        <div class="box2">
            <div class="box2-inner">
                <div class="hero">
                    <div class="txtBox"> 
                        <h3>Vincent van Gogh</h3>
                        <p>네덜란드 인상주의 화가 <br>
                        빈센트 반고흐 특별 전시전 </p>
                        <div>
                            <p class="btn"><a href="#"> 자세히 보기</a></p>
                        </div> 
                    </div>
                    <div class="imgBox"> 
                    </div>
                </div>
            </div>
        </div>
        <div class="box3">
            <div class="titleBox">
                <h2>반 고흐 주요 작품</h2>
                <p>해당 전시에서 빈센트 반 고흐(Vincent van Gogh)의 주요 작품들을
                    생동감있게 관람하실 수 있습니다.
                </p>
            </div>
            <div class="listBox">
                <div class="listBox1">
                    <ul>
                        <li>
                            <img src="img/gogh1.jpg" alt="">
                        </li>
                        <li><h3>별이 빛나는 밤에</h3></li>
                        <li> The Starry Night</li>
                    </ul>
                </div>
                <div class="listBox2">
                    <ul>
                        <li>
                            <img src="img/gogh2.jpg" alt="">
                        </li>
                        <li><h3>아를의 별이 빛나는 밤</h3></li>
                        <li>Starry Night in Arles</li>
                    </ul>
                </div>
                <div class="listBox3">
                    <ul>
                        <li>
                            <img src="img/gogh4.jpg" alt="">
                        </li>
                        <li><h3> 빈센트 초상화</h3></li>
                        <li>Vincent`Self-Portrait</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="box4">
            <div class="box4-inner">
                <div class="box4-1">
                    <div class="title"><h2>How to View</h2></div>
                    <div class="txt">
                        <h3>전시관람에 대한 안내사항입니다.</h4>
                        <h4>This is a guide to view the exhibition.</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> 
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> 
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        </p>
                    </div>
                    <div>
                        <p class="btn"><a href="#"> 자세히 보기</a></p>
                    </div>
                </div>
                <div class="box4-2">
                    <ul class="listBox">
                        <li>
                            <div class="ico"><i class="fa-solid fa-children fa-fw" style="color: #3b5bfc;"></i></div>
                            <div class="txtBox">
                                <h3>9세 이하 자녀</h3>
                                <p>9세 이하 자녀를 둔 부모님들은 꼭 자녀와 동반입장해주세요.</p>
                            </div>
                        </li>
                        <li>
                            <div class="ico"><i class="fa-solid fa-glass-water-droplet fa-fw" style="color: #3b5bfc;"></i></div>
                            <div class="txtBox">
                                <h3>전시장 내 음료 반입 금지</h3>
                                <p>전시 관람 시에 음료 반입이 금지되어있으니, 참고해주세요. <br>
                                    500ml 이하의 생수는 가능합니다. </p>
                            </div>
                        </li>
                        <li>
                            <div class="ico"><i class="fa-solid fa-headphones-simple fa-fw" style="color: #3b5bfc;"></i></div>
                            <div class="txtBox">
                                <h3>청취자료 제공</h3>
                                <p>전시 관람 시 헤드셋을 통하여 작품 안내를 동시 제공하고 있으니 <br>
                                원하시는 분은 입장 시 말씀해주세요. </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box5">
            <div class="box5-inner">
                <img src="img/2.gif" alt="">
                <div class="txtBox">
                    <h3>Loving Vincent</h3>
                    <p>빈센트 전시기념 <em>Loving Vincent</em> 무료상영</p>
                    <p> 2F , 평일 오후 2:00 </p>
                </div>
                <img src="img/3.gif" alt="">
            </div>
        </div>

        <div class="box6">

        </div>
    </main>




</body>
</html>