<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃001</title>

    <!-- 외부스타일 시트 연결 -->
    <link rel="stylesheet" href="layout001_01.css">
    <!-- 그리드가이드 연결
    <link rel="stylesheet" href="grid-guide.css"> -->
</head>
<body>
    
    <header class="box1">
        <div class="box1-1">logo</div>
        <navi class="box1-2">
            <ul>
                <li><a href="">menu1</a></li>
                <li><a href="">menu2</a></li>
                <li><a href="">menu3</a></li>
                <li><a href="">menu4</a></li>
            </ul>
        </navi>
    </header>

    <div class="box2">Hero</div>

    <div class="box3">
        <div class="box3_inner">
            <p>Title</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus atque, porro aperiam esse dicta! Numquam alias voluptate impedit sunt, odio quas, vero veritatis repellat, eius dolorem pariatur quasi earum!</p>
        </div>
    </div>

    <section class="box4">
        <div class="box4_inner">
            <article class="box4-1">
                <p>이미지박스</p>
            </article>
            <article class="box4-2">텍스트박스</article>
        </div>
    </section>

    <section class="box5">
        <div class="box5_inner">
            <article class="box5-1"><p>이미지박스1</p></article>
            <article class="box5-2"><p>이미지박스2</p></article>
            <article class="box5-3"><p>이미지박스3</p></article>
        </div>

    </section>
    <div class="box6">
        <p>Title</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus atque, porro aperiam esse dicta! Numquam alias voluptate impedit sunt, odio quas, vero veritatis repellat, eius dolorem pariatur quasi earum!</p>
    </div>

    <div class="box7">
        <p>Title</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus atque, porro aperiam esse dicta! Numquam alias voluptate impedit sunt, odio quas, vero veritatis repellat, eius dolorem pariatur quasi earum!</p>
    </div>

    <div class="box8">
        <div class="box8_inner">
            <div class="box8-1">siteMap</div>
            <div class="box8-2">bottom_logo</div>
            <div class="box8-3">contentBox</div>
        </div>
    </div>

</body>
</html>