<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃007</title>
    <!-- 그리드 가이드 연결 
    <link rel="stylesheet" href="grid-guide.css">-->
    <!-- 외부스타일 시트 연결 -->
    <link rel="stylesheet" href="layout007.css">
    <!-- 폰트어썸 CDN -->
    <script src="https://kit.fontawesome.com/044d9b951e.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="box1">
        <div class="box1-inner">
            <ul>
                <ul>
                    <li> <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a> </li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="box2">
        <div class="box2-inner">
            <h2>
                <a href="#"><img src="img/chlogo.png" alt=""></a>
            </h2>
            <span> 	&#8801; </span>
            <ul class="gnb">
                <li><a href="#">오뜨 꾸뛰르</a></li>
                <li><a href="#">패션</a></li>
                <li><a href="#">향수</a></li>
                <li><a href="#">워치</a></li>
                <li><a href="#">주얼리</a></li>
                <li><a href="#">제품 소개</a></li>
            </ul>
        </div>
    </div>
    <div class="box3">
        <div class="box3-inner">
            <div class="txtBox">
                <h2>GABRIELLE CHANEL</h2>
                <p>열정적이며 자유로운 여성이었던 마드모아젤에게 영감을 받아 탄생한  가브리엘 샤넬</p> 
                     <p>스스로 자신의 길을 만들어 가는 빛나는 여성을 위해  관능적인 향기를 선사하는 가브리엘 샤넬 에쌍스.</p>  
                    <p>바스 앤 바디 제품과 함께 사용하면 태양 빛을 머금은 플로랄 향을 오래도록 즐길 수 있습니다.</p>

                
            </div>
            <div class="btn">
                <a href="#"> 제품 상세보기  </a>
            </div>
        </div>
    </div>
    <div class="box4">
        <div class="box4-inner">
            <div class="box4-1">
                <h2>Nº5 CHANEL</h2>
                <p>심플한 디자인이 돋보이는 전설적인 향수 N°5 빠르펭 </p>
                    <p class="icon">
                        <img src="img/img1.png" alt="">
                    </p>

                    <div class="btn">
                        <a href="#"> <i class="fa fa-arrow-right fa-border" aria-hidden="true"></i>  </a>
                    </div>
            </div>
            <div class="box4-2">
                <h2>CHANCE CHANEL</h2>
                <p>예측할 수 없이, 반짝이는 로맨틱한 향. </p>
                    <p class="icon">
                        <img src="img/ppimg4.png" alt="">
                    </p>

                    <div class="btn">
                        <a href="#"> <i class="fa fa-arrow-right fa-border" aria-hidden="true"></i>  </a>
                    </div>
            </div>
            <div class="box4-3">
                <h2>BLEU de CHANEL</h2>
                <p>시간을 초월해 사랑받으며 순응을 거부하는 향기 </p>
                    <p class="icon">
                        <img src="img/ppimg3.png" alt="">
                    </p>

                    <div class="btn">
                        <a href="#"> <i class="fa fa-arrow-right fa-border" aria-hidden="true"></i>  </a>
                    </div>
            </div>
            <div class="box4-4">
                <h2>COCO MADEMOISELLE</h2>
                <p>양면성의 매력을 지닌 매혹적이고 여성스러운 향수 </p>
                    <p class="icon">
                        <img src="img/ppimg2.png" alt="">
                    </p>

                    <div class="btn">
                        <a href="#"> <i class="fa fa-arrow-right fa-border" aria-hidden="true"></i>  </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="box5">
        <div class="box5-inner">
            <div class="box5-1">
                <div class="txtBox">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis earum placeat libero sed voluptate minus optio nisi nobis, 
                        quia numquam magni totam ut nam delectus enim sint doloribus
                         magnam necessitatibus. enim sint doloribus
                         magnam necessitatibus.</p>
                </div>
                <div class="btn">
                    <a href="#"> 버튼입니다  </a>
                </div>
            </div>
            <div class="box5-2">
                <video autoplay muted loop>
                    <source src="https://www.chanel.com/videos/e_volume:mute/q_90,f_mp4,c_scale,w_1920,c_limit/FSH-1688730498249-004v01.mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="box6">
        <div class="box6-inner">
            <div class="box6-1">
                <div class="txtBox">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis earum placeat libero sed voluptate minus optio nisi nobis, 
                        quia numquam magni totam ut nam delectus enim sint doloribus
                         magnam necessitatibus. enim sint doloribus
                         magnam necessitatibus.</p>
                </div>
                <div class="btn">
                    <a href="#"> 버튼입니다  </a>
                </div>
            </div>
            <div class="box6-2">
                이미지박스
            </div>
        </div>
    </div>

    <div class="box7">
        <div class="box7-inner">
            <div class="box7-1">
                <div class="txtBox">
                    <h2>Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Omnis earum placeat libero sed voluptate minus optio nisi nobis, 
                        quia numquam magni totam ut nam delectus enim sint doloribus
                         magnam necessitatibus. enim sint doloribus
                         magnam necessitatibus.</p>
                </div>
                <div class="btn">
                    <a href="#"> 버튼입니다  </a>
                </div>
            </div>
            <div class="box7-2">
                이미지박스
            </div>
        </div>
    </div>
    <div class="box8">
        <div class="box8-inner">
            <div class="box8-1">
                <h3>Contact + Footer Links</h3>
                <div>
                    이미지박스
                </div>
            </div>
            <div class="box8-2">
                <h3>Social Media</h3>
                <ul>
                    <li> <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>