<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>감귤박물관 레이아웃001</title>

    <!-- 외부스타일 시트 연결 -->
    <link rel="stylesheet" href="style_001_02.css">
    <!-- 그리드 가이드 -->
    <link rel="stylesheet" href="sgrid-guide.css">
</head>
<body>
    <div class="box1">
        <h1>
            <img src="img/logo.png" alt="" width="80px" height="70px">
        </h1>
            <ul class="box1-1">
                <li><a href="#">박물관 안내</a></li>
                <li><a href="#">전시 안내</a></li>
                <li><a href="#">감귤 STORY</a></li>
                <li><a href="#">참여공간</a></li>
            </ul>
    </div>

    <div class="box2">
        <h2>THE CITRUS <br> MUSEUM </h2>
        <p>Welcome! <br> We Are Displaying Citruses Aroung The World To People Who Are Wondering Them.</p>
        <div class="btn">
            <a href="#">Participation</a>
        </div>
    </div>

    <div class="box3">
        <h2>감귤박물관과 함께 감귤을 체험해보세요 ! </h2>
        <p>Lorem ipsum dolor sit amet consectetur  eligendi expedita. 
            Rerum repellat harum laudantium expedita? <br> Quasi, perspiciatis 
            placeat?Lorem ipsum dolor sit amet consectetur  eligendi expedita. 
            Rerum repellat harum laudantium expedita? Quasi, perspiciatis placeat?</p>

    </div>




    <div class="box4">
        <div class="box4-1">
            <div class="vid">
                <video autoplay loop muted>
                    <source src="img/감귤영상.mp4">
                </video>
            </div>
        </div>
        <div class="box4-2">
            <div class="txtBox">
                <h2> ABOUT 감귤  </h2>
                <p>Lorem ipsum dolor sit amet consectetur  eligendi expedita. Rerum repellat harum laudantium expedita? Quasi, perspiciatis placeat?</p>
                <div class="btn">
                    <a href="#">Link to about</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box5">
        <div class="box_inner">
            <div class="summary">
                <div class="box5-1">
                    <div class="imgBox"></div>
                    <p>감귤1</p>
                </div>
            </div>
            <div class="summary">
                <div class="box5-2">
                    <div class="imgBox"></div>
                    <p>감귤2</p>
                </div>
            </div>
            <div class="summary">
                <div class="box5-3">
                    <div class="imgBox"></div>
                    <p>감귤3</p>
                </div>
            </div>
        </div>
    </div>


    <div class="box6">
        <div class="box6-1">
            <h2>Lorem, ipsum dolor</h2>
            <p>Lorem, ipsum dolor Lorem, ipsum dolor</p>
        </div>
    </div>


    <div class="box7">
        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Sit tempora </h2>
        <p>Lorem ipsum dolor sit amet consectetur  eligendi expedita. Rerum repellat harum laudantium expedita? Quasi, perspiciatis placeat?</p>
    </div>
    <div class="box8">
        <div class="box8-1">
            <ul>
                <li> <a href="#">Quick Link</a> </li>
                <li> <a href="#">Quick Link</a> </li>
                <li> <a href="#">Quick Link</a> </li>
            </ul>
        </div>
        <div class="box8-2">감귤 <br> 박물관 </div>
        <div class="box8-3">
            <ul>
                <li><a href="#">SOCIAL MEDIA</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">LOCATION</a></li>
            </ul>
        </div>
    </div>
</body>
</html>